.eazy-flickity-shortcode-button {
  background: #f7f7f7;
  border-color: #ccc;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 #ccc;
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 28px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px 1px;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}
.eazy-flickity-shortcode-button:hover {
  background-color: #fafafa;
  border-color: #999;
  color: #23282d;
}

.eazy-flickity-shortcode-info {
  display: block;
  margin: 0;
}
.eazy-flickity-shortcode-info:before {
  content: url("../css/slidericon.png");
  display: inline-block;
  margin-right: .5em;
  vertical-align: sub;
}
.eazy-flickity-shortcode-info p {
  display: inline-block;
  margin: 0;
}
.eazy-flickity-slider-submit-buttons{
  padding: 15px;
}
.eazy_slider_shortcode_form .form_instructions{
  margin-bottom: 0;
  margin-top: 0;
}

.column-eazy_flickity_image img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
} 